/** Colors */
$brand-primary:         #525ddc;

/** Box Model  */
$spacer:                2rem;

/** Hamburger icon */
$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-width: 22px;
$hamburger-layer-height: 3px;
$hamburger-layer-spacing: 4px;
$hamburger-layer-color: #22292f;
$hamburger-types: (vortex);
$hamburger-hover-use-filter: true;
$hamburger-hover-filter: opacity(100%);